* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  height: 115px;
}

header .header_top {
  height: 50%;
  background-color: #231F20;
}

header .header_bottom {
  height: 50%;
  background-color: #AE1B21;
}

main {
  width: 100%;
  min-height: 1000px;
  background-image: linear-gradient(0deg, rgba(35, 31, 32, 0.7), rgba(35, 31, 32, 0.7)), linear-gradient(175.6deg, #231F20 10.94%, #94171C 100%);
}

main .jumbotron {
  width: 100%;
  height: 453px;
  background-image: url("img/Rectangle.png");
  color: white;
}

main .jumbotron .jumbotron_box {
  width: calc(100% - 330px);
  padding: 88px 165px 10px 165px;
}

main .jumbotron .jumbotron_box h5 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Eczar", serif;
}

main .jumbotron .jumbotron_box h6 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
