@import 'variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bw-box{
    width: calc(100% - 330px);
    margin: 0 auto;
  }

header{
  width: 100%;
  height: 115px;
  .header-top{
    height: 50%;
    background-color: $primary_color;
    .bw-box{
    display: flex;
    flex-wrap: wrap;
    .logo{
      width: 160px;
      padding: 16px 0;
    }
    .header-top-categories{
      font-family: $primary_character;
      font-weight: bold;
      font-size: 14px;
      width: 160px;
      height: 35px;
      padding: 9px 15px;
      background-color: #F1F1F1;
      margin: 10px 20px;
      span{
        padding-left: 26px;
      }
    }
    .header-top-search{
      width: 475px;
      height: 35px;
      margin: 10px 0 9px -20px;
      border: none;
      padding-left: 15px;
    }
    .header-top-btn{
      background-color: $secondary_color;
      width: 65px;
      height: 35px;
      margin: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
   }
  }

  .header-bottom{
    height: 50%;
    background-color: $secondary_color;
  }
}

footer{
  h1{
    color: white;
    font-family: $primary_character;
    margin-top: 60px;
  }
  width: 100%;
  height: 282px;
  background-color: $primary_color;
  border-top: 2px solid $secondary_color;
  .bw-box{
    position: relative;
  }
  .e-mail{
        width: 350px;
        height: 35px;
        display: inline-block;
        padding-left: 10px;
        position: absolute;
        top: 60px;
        left: 0px;
      }
      .e-mail-btn{
        div{
          width: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        display: flex;
        justify-content: center;
        width: 50px;
        height: 34px;
        border: none;
        background-color: #AE1B21;
        position: absolute;
        top: 61px;
        left: 349px;
      }

      .bo{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin-left: 50%;
        div{
          margin-right: 70px;
          margin-top: 20px;
        }
        ul{
          list-style: none;
          color: white;
          font-family: $primary_character;
          font-weight: bold;
        }
      }
}

main{
  width: 100%;
  
  background-image: linear-gradient(0deg, rgba(35, 31, 32, 0.7), rgba(35, 31, 32, 0.7)), linear-gradient(175.6deg, #231F20 10.94%, #94171C 100%);
  .jumbotron{
    width: 100%;
    height: 453px;
    background-image: url('img/Rectangle.png');
    color: white;
    .bw-box{
      width: calc(100% - 330px);
      padding: 88px 570px 10px 0;
      h5{
        font-size: 50px;
        font-weight: bold;
        font-family: $secondary_character;
      }
      h6{
        font-size: 20px;
        font-weight: bold;
        font-family: $primary_character;
      }
      .jumbotron-box-btn{
        background-color: $secondary_color;
        padding: 10px 15px;
        color: white;
        border: none;
        margin-top: 39px;
        font-weight: bold;
        
      }
    }
  }
  .deal{
    margin-bottom: 140px;
    padding-top: 100px;
    h1{
      color: white;
      font-family: $primary_character;
      margin-bottom: 60px;
      margin-left: 162px;
      font-weight: bold;
    }
    .bw-box{
      display: flex;
      flex-wrap: wrap;
      h2{
        color: white;
        font-family: $primary_character;
        margin-bottom: 60px;
      }
      .deal-card{
        width: 232px;
        height: 307px;
        background-color: #fff;
        margin-right: 30px;
        margin-bottom: 140px;
        .deal-card-photo{
          width: 100%;
          padding: 16px;
          img{
            width: 100%;
          }
        }
        .deal-card-description{
          width: 100%;
          height: 110px;
          background-color: $primary_color_card;
          color: white;
          font-family: $primary_character;
          font-size: 16px;
          p{
            padding: 16px 16px 26px 16px;
          }
          div{
            padding-left: 16px;
            font-size: 10px;
          }
        }
        .deal-card-bottom{
          position: relative;
          width: 100%;
          height: 56px;
          background-color: #313439;
          img{
            margin: 18px;
          }
          .price{
            position: absolute;
            color: white;
            bottom: 7px;
            right: 14px;
            font-size: 20px;
            font-weight: bold;
            font-family: $primary_character;
          }
          .old-price{
            position: absolute;
            display: inline-block;
            color: grey;
            text-decoration: line-through;
            bottom: 34px;
            right: 16px;
            font-size: 12px;
            font-weight: bold;
            font-family: $primary_character;
          }
        }
    
      }
      .deal-card:last-child{
        margin-right: 0;
      }
    }
  }

  .articles{
    .bw-box{
      display: flex;
      flex-wrap: wrap;
    }
    h1{
      color: white;
      font-family: $primary_character;
      font-weight: bold;
      margin-bottom: 60px;
      margin-left: 162px;
    }
    .article-card{
      width: 309px;
      height: 450px;
      margin-right: 30px;
      margin-bottom: 90px;
      .article-card-photo{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .article-card-description{
        font-family: $primary_character;
        color: white;
        background-color: $primary_color_card;
        p{
          padding: 16px;
          font-weight: 600;
        }
        p:first-child{
          color: grey;
          font-weight: bold;
        }
        span{
          display: inline-block;
          padding: 16px 16px 28px 16px;
          color: rgb(209, 209, 209);
        }
        h6{
          text-align: end;
          padding: 16px;
          color: grey;
        }
      }
      .article-card:nth-child(3){
        margin-right: 0;
      }
    }
  }

  .evidence{
    margin-top: 120px;
    h1{
      color: white;
      font-family: $primary_character;
      margin-left: 164px;
      margin-bottom: 60px;
    }
    .bw-box{
      display: flex;
      flex-wrap: wrap;
    }
    .deal-card{
        width: 232px;
        height: 307px;
        background-color: #fff;
        margin-right: 30px;
        margin-bottom: 140px;
        .deal-card-photo{
          width: 100%;
          padding: 16px;
          img{
            width: 100%;
          }
        }
        .deal-card-description{
          width: 100%;
          height: 110px;
          background-color: $primary_color_card;
          color: white;
          font-family: $primary_character;
          font-size: 16px;
          p{
            padding: 16px 16px 26px 16px;
          }
          div{
            padding-left: 16px;
            font-size: 10px;
          }
        }
        .deal-card-bottom{
          position: relative;
          width: 100%;
          height: 56px;
          background-color: #313439;
          img{
            margin: 18px;
          }
          .price{
            position: absolute;
            color: white;
            bottom: 7px;
            right: 14px;
            font-size: 20px;
            font-weight: bold;
            font-family: $primary_character;
          }
          .old-price{
            position: absolute;
            display: inline-block;
            color: grey;
            text-decoration: line-through;
            bottom: 34px;
            right: 16px;
            font-size: 12px;
            font-weight: bold;
            font-family: $primary_character;
          }
        }
        
    
      }
      .deal-card:last-child{
          margin-right: 0;
        }
  }

  .set{
    margin-bottom: 100px;
    .bw-box{
      display: flex;
    }
    h1{
      font-family: $primary_character;
      margin-left: 165px;
      margin-top: 180px;
      margin-bottom: 50px;
    }
    color: white;
    width: 100%;
      .left-set-photo{
        display: inline-block;
        width: 50%;
        .left-set-photo-top{
          width: 100%;
          overflow: hidden;
          img{
            width: 100&;
          }
      }
        .left-set-photo-bottom{
          margin-top: -10px;
          position: relative;
          font-family: $primary_character;
          height: 71px;
          background-color: $primary_color_card;
          
          p:first-of-type{
            position: absolute;
            top: 12px;
            left: 50px;
            font-size: 16px;
            font-weight: bold;
          }
          p:nth-child(3){
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: grey;
            font-size: 10px;
            position: absolute;
            top: 45px;
            left: 50px;
          }
          .m20{
            width: 38px;
            display: inline-block;
          img{
            width: 100%;
            margin: 16px 5px;
          }
        }

        .left-set-btn{
            background-color: $secondary_color;
            border: none;
            padding: 10px 20px;
            margin: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            top: 16%;
            right: 20px;
        }
  
      }
    }

    .right-set-box{
      padding: 9px;
      display: flex;
      flex-wrap: wrap;
      width: 49%;
      height: 533px;
      .right-set-card{
        width: 45%;
        margin-left: 24px;
        .top{
          width: 100%;
          img{
            width: 100%;
          }
        }
        .bottom{
          margin-top: -5px;
          width: 100%;
          height: 70px;
          background-color: $primary_color_card;
          .logo{
            width: 38px;
            display: inline-block;
            margin-top: 16px;
            margin-left: 16px;
            img{
              width: 100%;
            }
          }
          p{
            display: inline-block;
            position: absolute;
            top: 18px;
            left: 60px;
            font-family: $primary_character;
            font-size: 16px;
            font-weight: bold;
          }
          span{
            position: absolute;
            bottom: 17px;
            left: 60px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: grey;
            font-size: 10px;
          }
        }
      }
    }
  }

  .upcoming{
    margin-bottom: 170px;
    .upcoming-set-photo:first-of-type{
      margin-right: 30px;
    }
    h1{
      color: white;
      margin-left: 165px;
      margin-bottom: 90px;
      font-family: $primary_character;
      font-weight: bold;
    }
    .bw-box{
      display: flex;
      flex-wrap: wrap;
      .upcoming-set-photo{
        display: inline-block;
        width: 48%;
        .upcoming-set-photo-top{
          width: 100%;
          overflow: hidden;
          img{
            width: 100%;
          }
      }
        .upcoming-set-photo-bottom{
          margin-top: -10px;
          position: relative;
          font-family: $primary_character;
          height: 71px;
          background-color: $primary_color_card;
          
          p:first-of-type{
            position: absolute;
            top: 16px;
            left: 16px;
            font-size: 16px;
            font-weight: bold;
            color: white;
            font-family: $primary_character;
          }
          .second-text{
            position: absolute;
            top: 45px;
            left: 16px;
            color: grey;
            font-size: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
          
        }
      }
    }
    }

    .join{
      .bw-box{
        text-align: center;
        position: relative;
      }
      color: white;
      font-family: $primary_character;
      h1{
        font-size: 20px;
        margin-bottom: 30px;
      }
      p{
        font-size: 16px;
        color: grey;
        margin-bottom: 30px;
      }


      .e-mail{
        width: 350px;
        height: 35px;
        display: inline-block;
        padding-left: 10px;
      }
      .e-mail-btn{
        div{
          width: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        display: flex;
        justify-content: center;
        width: 50px;
        height: 33px;
        border: none;
        background-color: $secondary_color;
        position: absolute;
        top: 123px;
        left: 684px;
      }
      padding-bottom: 69px;
    }
  }
